* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.navbar {
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 25rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00f28e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00f28e;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-link {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.outline {
  border: 1px solid #555;
  background: transparent;
  color: white;
}

.btn.outline:hover {
  background: #333;
}

.btn.filled {
  background-color: #00f28e;
  color: black;
  font-weight: bold;
  border: none;
}

.btn.filled:hover {
  background-color: #00e680;
}
